In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("widget_loads.csv")
df.head()

,ts,action_widget,area_id,page_current,seconds
0,2021-03-13 17:08:03,addressBookMap.addressEditMap,2,checkout,1.306494
1,2021-03-13 18:21:04,addressBookMap.addressEditMap,2,checkout,0.088442
2,2021-03-13 18:20:49,addressBookMap.addressEditMap,2,checkout,0.173386
3,2021-03-13 18:22:32,addressBookMap.addressEditMap,2,checkout,0.954609
4,2021-03-13 18:10:28,addressBookMap.addressEditMap,13961,checkout,0.987395

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783649 entries, 0 to 783648
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ts             783649 non-null  object
 1   action_widget  783649 non-null  object
 2   area_id        783649 non-null  int64
 3   page_current   783643 non-null  object
 4   seconds        783649 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 29.9+ MB

### Найти виджет, который дольше всего загружается на странице pdp и home

In [4]:
# пошел не очень оптимальным путем выделяя данные в 2 разных фрейма
mask_pdp = (df["page_current"] == "pdp") 
mask_home = (df["page_current"] == "home")

In [5]:
df_pdp = df[mask_pdp]#.sort_values("seconds", ascending=False)
df_pdp.head()

                       ts action_widget  area_id page_current   seconds
1770  2021-03-23 20:37:24   pdp.gallery     1863          pdp  0.019590
1771  2021-03-23 20:34:55   pdp.gallery        2          pdp  0.097378
1772  2021-03-23 20:38:35   pdp.gallery        2          pdp  0.079508
1773  2021-03-23 19:42:30   pdp.gallery        2          pdp  0.021455
1774  2021-03-23 20:05:10   pdp.gallery    15869          pdp  0.035354

In [6]:
df_home = df[mask_home]#.sort_values("seconds", ascending=False)
df_home.head()

,ts,action_widget,area_id,page_current,seconds
1396,2021-03-01 07:37:20,bundle.bundleList,5911,home,0.101944
1397,2021-03-01 07:37:39,bundle.bundleList,5911,home,0.101944
1408,2021-03-23 20:57:14,cms.setOfPreviews,2,home,0.008487
1409,2021-03-23 19:43:35,cms.uWidgetFavByDiscount,3,home,0.080784
1493,2021-03-23 20:45:33,common.buttonWidget,2,home,0.003009

In [7]:
df_e = df_pdp.merge(df_home, left_on="action_widget", right_on= "action_widget")
df_e.head()

,ts_x,action_widget,area_id_x,page_current_x,seconds_x,ts_y,area_id_y,page_current_y,seconds_y
0,2021-03-02 21:43:33,lvs.liveStreamingPreviewInfo,50959,pdp,0.030701,2021-03-11 18:55:13,9795,home,0.020356
1,2021-03-02 21:43:33,lvs.liveStreamingPreviewInfo,50959,pdp,0.030701,2021-03-29 13:25:52,50959,home,0.090964
2,2021-03-02 21:43:33,lvs.liveStreamingPreviewInfo,50959,pdp,0.030701,2021-03-18 14:47:02,8581,home,0.028544
3,2021-03-02 21:43:33,lvs.liveStreamingPreviewInfo,50959,pdp,0.030701,2021-03-18 14:47:55,8581,home,0.011598
4,2021-03-02 21:43:33,lvs.liveStreamingPreviewInfo,50959,pdp,0.030701,2021-03-10 17:12:39,2,home,0.049934

In [8]:
# наш виджет
df_e.sort_values(["seconds_x", "seconds_y"], ascending=[False, False]).loc[0, "action_widget"]

'lvs.liveStreamingPreviewInfo'

###  Найти даты и разрезы (виджет,area_id) в которых время загрузки аномально высокое

In [9]:
df.sort_values("seconds", ascending= False)

,ts,action_widget,area_id,page_current,seconds
340631,2021-03-10 16:20:10,favorites.categoryLogos,10686,account/favorites,4.991588
340621,2021-03-10 13:25:12,favorites.categoryLogos,3,account/favorites,4.985188
487727,2021-03-11 13:37:49,favorites.categoryLogos,34772,account/favorites,4.984337
449031,2021-03-02 08:29:30,favorites.categoryLogos,798,account/favorites,4.978202
690821,2021-03-30 01:48:27,favorites.categoryLogos,27227,account/favorites/products,4.968033
...,...,...,...,...,...
289890,2021-03-20 22:11:31,marketing.shopInShopButton,17605,sis,0.000064
657189,2021-03-04 19:02:36,marketing.shopInShopButton,2,sis,0.000063
583752,2021-03-13 10:45:42,marketing.shopInShopButton,27637,sis,0.000061
225280,2021-03-23 18:24:15,marketing.shopInShopButton,2,sis,0.000057
581919,2021-03-02 20:54:47,marketing.shopInShopButton,44078,sis,0.000051

In [10]:
df.groupby(["action_widget", "area_id" ])["seconds"].agg("max").sort_values(ascending = False)

action_widget            area_id
favorites.categoryLogos  10686      4.991588
                         3          4.985188
                         34772      4.984337
                         798        4.978202
                         27227      4.968033
                                      ...
selector.rimsPicker      7223       0.000125
selector.productPicker   33085      0.000125
selector.rimsPicker      44078      0.000115
selector.productPicker   5179       0.000113
                         11554      0.000112
Name: seconds, Length: 5524, dtype: float64

### виджет favorites.categoryLogos имеет большие значения времени загрузки